<!DOCTYPE html>
<html lang="es" xmlns:th="http://ww.thymeleaft.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${titulo}"></title>
</head>

<body>
    <h1 th:text="${titulo}"></h1>
    <div th:if="${usuarios.isEmpty()}">No hay usuarios registrados</div>
    <table th:if="${!usuarios.isEmpty()}">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Correo Electronico</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <th scope="col">#</th>
                <th scope="col" th:text="${usuario.nombres}"></th>
                <th scope="col" th:text="${usuario.apellidos}"></th>
                <th scope="col" th:text="${usuario.email}"></th>
            </tr>
        </tbody>
    </table>
</body>

</html>